.main-container {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: row;
    height: 30%;
}

#body {
    display: flex;
    flex-direction: row;
    height: 60%;
}

#footer {
    display: flex;
    flex-direction: row;
    height: 10%;
}

#body-container{
    display: flex;
    flex-direction: column;
    width: 90%;
}

#sub-container{
    display: flex;
    flex-direction: row;
    height: 85%;
}

#sub-sub-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.first {
    text-align: center;
    width: 70%;
    border-style: solid;
    border-radius: 1px;
}

.x {
    float: left;
    width: 30%;
    text-align: center;
}
.page-name{
    margin-left: 10%;
    margin-top: 10%;
    padding: 4%;
    width: fit-content;
    font-size: 18px;
    background-color: #FFFFFF;

}

.first {
    position: relative;
    float: right;
}

.title{
    width: fit-content;
    margin: 5%;
}

.second {
    float: left;
    background-color: #FDE9D9;
    width: 10%;
    overflow: auto;
    border-style: solid;
    border-radius: 1px;
}

.third {
    position: relative;
    float: right;
    background-color: #EAF1DD;
    height: 15%;
    text-align: center;
    overflow: auto;
    border-style: solid;
    border-radius: 1px;
}

.fourth {
    position: relative;
    float: left;
    height: 100%;
    background-color: #ffffff;
    overflow: auto;
    min-height: 800px;
    border-style: solid;
    border-radius: 1px;
}

.fifth {
    float: right;
    background-color: #FDE9D9;
    overflow: auto;
    border-style: solid;
    border-radius: 1px;
    width: 20%;
}

.sixth{
    position: relative;
    float: left;
    height: 20%;
    background-color: #EAF1DD;
    overflow: auto;
    border-style: solid;
    border-radius: 1px;
}


.seventh {
    position: relative;
    height: inherit;
    float: left;
    width: 70%;
    border-style: solid;
    border-radius: 1px;
}

.y {
    position: relative;
    float: right;
    width: 30%;
    height: 160px;
}

.bot{
    margin-left: 20%;
    margin-top: 10%;
}