body {
    margin: 0;
    padding: 0;
    font: normal small Arial, Helvetica, sans-serif;
    color: black;
    min-width: 1000px;
}
#header {
    width: 100%;
    background-color: #C6D9F1;
}

#body {
    width: 100%;
    margin: 0;
    padding: 0;
}

#footer {
    width: 100%;
    margin: 0 auto;
    background-color: #C6D9F1;
    float: bottom;
}

ul {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

p{
    padding: 10px;
}
img{
    padding: 10px;
}
h1,h2,h3{
    padding: 10px;
}
a:hover {
    text-decoration: underline;
}

a:hover, .active a {
    color: chartreuse;
}
