.main-container {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: row;
}

#body {
    display: flex;
    flex-direction: row;
}

#footer {
    display: flex;
    flex-direction: row;
}

#body-container{
    display: flex;
    flex-direction: column;
}

#sub-container{
    display: flex;
    flex-direction: row;
    height: 90%;
}

#sub-sub-container{
    display: flex;
    flex-direction: column;
}

.first {
    width: 70%;
    text-align: center;
}

.x {
    float: left;
    height: 160px;
    width: 30%;
    text-align: center;
}
.page-name{
    margin-left: 10%;
    margin-top: 10%;
    padding: 4%;
    width: fit-content;
    font-size: 18px;
    background-color: #FFFFFF;
    
}

.first {
    position: relative;
    height: inherit;
    float: right;
    min-width: 490px;
}

.title{
    width: fit-content;
    margin: 5%;
}

.second {
    min-width: 15%;
    float: left;
    background-color: #FDE9D9;
}

.third {
    position: relative;
    float: right;
    background-color: #EAF1DD;
    text-align: center;
    height: 10%;
    overflow: auto;
}

.fourth {
    position: relative;
    float: left;
    float: top;
    background-color: #ffffff;
    height: 90%;
    min-height: fit-content;
    overflow: auto;
}

.fifth {
    float: right;
    background-color: #FDE9D9;
    overflow: auto;
    min-width: 15%;
}

.sixth{
    position: relative;
    float: left;
    background-color: #EAF1DD;
    height: 10%;
    overflow: auto;
}


.seventh {
    position: relative;
    float: left;
    min-width: 490px;
    width: 70%;
}

.y {
    position: relative;
    float: right;
    width: 30%;
    height: 160px;
}

.bot{
    margin-left: 20%;
    margin-top: 10%;
}