#header {
    display: grid;
    grid-template-columns: auto auto;
}

#body {
    display: grid;
    grid-template-columns: 15% auto 15%;
}

#footer {
    display: grid;
    grid-template-columns: auto auto;

}

#main-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% auto 10%;
}

/*
#sub-container{
    display: grid;
    grid-auto-columns: auto auto;
}

#sub-sub-container{
    display: grid;
    grid-auto-columns: auto;
}
*/



.x {
    float: left;
    height: 160px;
    text-align: center;
}
.page-name{
    margin-left: 10%;
    margin-top: 5%;
    padding: 4%;
    width: fit-content;
    font-size: 18px;
    background-color: #FFFFFF;
    
}

.first {
    position: relative;
    height: inherit;
    float: right;
}

.title{
    width: fit-content;
    margin: 5%;
}

.second {
    float: left;
    background-color: #FDE9D9;
}

.third {
    background-color: #EAF1DD;
    text-align: center;
    overflow: auto;
}

.fourth {
    background-color: #ffffff;
    overflow: auto;
}

.fifth {
    float: right;
    background-color: #FDE9D9;
}

.sixth{
    background-color: #EAF1DD;
    overflow: auto;
}


.seventh {
    height: inherit;
    float: left;
}

.y {
    position: relative;
    float: right;
    height: 160px;
    margin-left: 10%;
}
