body {
    margin: 0;
    padding: 0;
    font: normal small Arial, Helvetica, sans-serif;
    color: black;
}
#header {
    width: 100%;
    height: 160px;
    background-color: #C6D9F1;
    min-width: 760px;
}

#body {
    min-width: 1000px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#footer {
    width: 100%;
    height: 160px;
    margin: 0 auto;
    background-color: #C6D9F1;
    float: bottom;
    min-width: 760px;
}

ul {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:hover, .active a {
    color: chartreuse;
}
